<hibernate-configuration>
    <session-factory>
        <!-- Driver y URL de MySQL -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/biblioteca</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>

        <!-- Dialecto de MySQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- elimine y cree la base de datos cada vez que se ejecute la aplicación SOLO PRUEBAS-->
        <property name="hibernate.hbm2ddl.auto">create-drop</property>

        <!-- Muestra las consultas SQL en la consola -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Clases mapeadas -->
        <mapping class="org.example.modelo.Libro"/>
        <mapping class="org.example.modelo.Autor"/>
        <mapping class="org.example.modelo.Socio"/>
        <mapping class="org.example.modelo.Prestamo"/>
    </session-factory>
</hibernate-configuration>
